<div class="create-container">
    <mat-card>
        <mat-card-header>
          <mat-card-title>Create Employee Details</mat-card-title>
        </mat-card-header>
        <mat-card-actions>
    <form [formGroup]="createUserForm">
        <mat-form-field class="create-full-width">
          <mat-label>Employee Name</mat-label>
          <input matInput placeholder="Ex. Mohan Prasad Kutala" formControlName="name">
        </mat-form-field>
      
        <mat-form-field class="create-full-width">
          <mat-label>Job Name</mat-label>
          <!--<textarea matInput placeholder="Ex. It makes me feel..."></textarea> -->
          <input matInput placeholder="Ex. Salesperson" formControlName="job_name">
        </mat-form-field>

        <mat-form-field class="create-full-width">
            <mat-label>Choose a date</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="hire_date">
            <mat-hint>YYYY-MM-DD</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>

        <mat-form-field class="create-full-width">
            <mat-label>Manager Id</mat-label>
            <input matInput placeholder="Ex. 12" formControlName="manager_id">
        </mat-form-field>

        <mat-form-field class="create-full-width">
            <mat-label>Salary</mat-label>
            <input matInput placeholder="Ex. 5000" formControlName="salary">
        </mat-form-field>

        <mat-form-field class="create-full-width">
            <mat-label>Commission</mat-label>
            <input matInput placeholder="Ex. 1000" formControlName="commission">
        </mat-form-field>

        <mat-form-field class="create-full-width">
            <mat-label>Department Id</mat-label>
            <input matInput placeholder="Ex. 3" formControlName="dep_id">
        </mat-form-field>

        <mat-form-field class="create-full-width">
            <mat-label>Department Name</mat-label>
            <select matNativeControl required formControlName="department_name">
              <option value="ACCOUNTING">ACCOUNTING</option>
              <option value="RESEARCH">RESEARCH</option>
              <option value="SALES">SALES</option>
              <option value="OPERATIONS">OPERATIONS</option>
            </select>
          </mat-form-field>

        <mat-form-field class="create-full-width">
            <mat-label>Location</mat-label>
            <input matInput placeholder="Ex. CHICAGO" formControlName="location">
        </mat-form-field>

        <button mat-flat-button color="primary" (click)="createEmployeeWithDetails()" [disabled]="!createUserForm.valid">Submit</button>
        <button class="btn btn-secondary" type="reset" (click)="onReset()">Reset</button>
           
      </form>
        </mat-card-actions>
      </mat-card>
  </div>