.grid-container {
    height: 100%;
    width: 100%;
    margin: 0;
}
.detailsGrid{
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 0px;
}

.right-side-buttons{
    margin-top: 70px;
    margin-left: 90%;
    margin-bottom: 10px;
}