<div class="grid-container">
    <section class = "right-side-buttons">
        <button type="button" 
        class="btn btn-primary btn-rounded" mdbRipple 
        (click)="getDeleteUsers()"
        [disabled]= "disable"
        >Delete User(s)</button>
    </section> 
    <section class="detailsGrid">
       <!--<ag-grid-angular class="ag-theme-quartz" 
        style="height: 600px;"
        [rowData] = "rowData"
        [columnDefs] = "colDefs">
        </ag-grid-angular> --> 
        <ag-grid-angular
            style="height: 600px;"
            [rowData]="rowData"
            (selectionChanged)="onSelectionChanged($event)"
            [columnDefs]="colDefs"
            [defaultColDef]="defaultColDef"
            [rowSelection]="rowSelection"
            [suppressRowClickSelection]="true"
            [pagination]="true"
            [paginationPageSize]="paginationPageSize"
            [paginationPageSizeSelector]="paginationPageSizeSelector"
            [class]="themeClass"
            (gridReady)="onGridReady($event)"
         ></ag-grid-angular>
    </section>
</div>